<html>
<head>
</head>
<body>
<!-- Style for formatting the resulting data -->
<style>
        h1 {
            text-align: center; 
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        li {
            width: 250px;
            background: #e6e6e6;
            border-radius: 15px;
            padding: 15px;
            text-align: center;
            margin: 50px;
        }
    </style>

<!-- Identify the data to be pulled from Airtable -->
<div id="app">
            <h1>Cases</h1>
            <ul>
                <li v-for="item in items">
                    <h3>{{ item['fields']['caseID'] }}</h3>
                    <p>{{ item['fields']['FullPropertyAddress'] }}</p>
					<p>{{ item['fields']['Status'] }}</p>
					<p>{{ item['fields']['Owner'] }}</p>
                    <p>{{ item['fields']['latitude'] }}</p>
					<p>{{ item['fields']['longitude'] }}</p>
					<p>{{ item['fields']['contractor_name'] }}</p>
                    <img :src="item['fields']['Photo of front'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['Photo of front']" width="150">
                </li>
            </ul>            
        </div><!--app-->

<!-- Include Dependancy Scripts -->
<script type="text/javascript" src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script type="text/javascript">
            var app = new Vue({
                el: '#app',
                data: {
                    items: []
                },
                mounted: function(){
                   this.loadItems(); 
                },
                methods: {
                    loadItems: function(){
                        
                        // Init variables
                        var self = this
                        var app_id = "apphDZ0u4mSBz72NH"; // base key
                        var api_key = "keyEylNiFZt2G6HGa";
                        this.items = []
axios.get(
                            "https://api.airtable.com/v0/"+app_id+"/Cases?view=out-to-map",
                            { 
                                headers: { Authorization: "Bearer "+api_key } 
                            }
                        ).then(function(response){
                            self.items = response.data.records
                        }).catch(function(error){
                            console.log(error)
                        })
                    }
                }
            })
        </script>
</body>
</html>